<%= render 'shared/header' %>

<div class="user-main">
  <main class="center-main">
    <div class="myteams">
      <div class="myteams-title">
        <a id="myteam_title">
          <h2>プロジェクト申請一覧</h2>
        </a>
      </div>
      <% @joinRequest.each do |r| %>
        <div class="myteams-list">
          <div class="myteams-box">
            <div class="participant-users">
              <ul>
                <li>
                  <div class="index-user-names">
                    <%= r.user.nickname %>
                    <%# <%= link_to l.nickname, class: "participant-user-name"　%>
                  </div>
                  <button type="button" , class="approval-btn1">
                    <%= link_to "承認する", project_join_lists_path(r.project, user_id: r.user.id, join_request_id: r.id), method: :post %>
                  </button>
                    <button type="button" , class="approval-btn2"><%= link_to "拒否する", project_join_request_path(r.project, r), method: :delete %>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>  

<%= render 'shared/footer' %>
