<body>
  <%= render 'shared/header' %>

  <div class="user-main">
    <nav class="left-menu">
      <ul class="user-main-left">
          <li><a href="#myteam_title", class="mypage-menu-item">マイプロジェクト参加者一覧</a></li>
          <li><a href="#entry_title", class="mypage-menu-item">参加したプロジェクト</a></li>
        <% if @user.id == current_user.id %>
          <li><%= link_to "アカウント編集", href="#" , class:"mypage-menu-item" %></li>
        <% end %>
          <li><%= link_to "トップページ", href="/" , class:"mypage-menu-item" %></li>
      </ul>
    </nav>
    <main class="center-main">
      <div class="profile-content">
        <!--アバター画像入れるなら下記使用する-->
        <!--div class="profile_avatar">
          <img src="" , class="profile-avater-image">
        </div-->
        <h1 class="profile-name"><%= @user.nickname %> のマイページ</h1>
      </div>

      <div class="user-content">
        <div class="box-base">
          <div class="title-area">
            <h2>スキル</h2>
          </div>
          <div class="skil-text">
            <%= @user.skill %>
          </div>
        </div>
      </div>
      <div class="myteam">
        <div class="myteam-title">
          <a id="myteam_title">
            <h2>マイプロジェクト参加者一覧</h2>
          </a>
        </div>
        <div class="myteam-list">
          <div class="myteam-box">
            <div class="myteam-name">
              自分の作成チーム名
            </div>
            <div class="participant-user">
              <ul>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="myteam-box">
            <div class="myteam-name">
              自分の作成チーム名
            </div>
            <div class="participant-user">
              <ul>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
                <li>
                  <div class="index-user-name">
                    <a href="#" , class="participant-user-name">ユーザー名</a>
                  </div>
                  <button type="button" , class="approval-btn">承認する</button>
                  <button type="button" , class="approval-btn">却下する</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="entry-project">
        <div class="entry-title">
          <a id="entry_title">
            <h2>参加したプロジェクト</h2>
          </a>
        </div>
      </div>
      <div class="page-bottom"></div>
    </main>
  </div>

  <%= render 'shared/footer' %>
</body>
