<body>
  <%= render 'shared/header' %>

  <div class="user-main">
    <nav class="left-menu">
      <ul class="user-main-left">
        <li><%= link_to "トップページ", href="/" , class:"mypage-menu-item" %></li>
        <% if @user.id == current_user.id %>
          <li><%= link_to "アカウント編集", edit_user_registration_path, method: :get, class: "mypage-menu-item" %></li>
        <% end %>
        <%# <li><a href="#myteam_title", class="mypage-menu-item">マイプロジェクト参加者一覧</a></li>
        <li><a href="#entry_title", class="mypage-menu-item">参加したプロジェクト</a></li> %>
      </ul>
    </nav>
    <main class="center-main">
      <div class="profile-content">
        <!--アバター画像入れるなら下記使用する-->
        <!--div class="profile_avatar">
          <img src="" , class="profile-avater-image">
        </div-->
        <h1 class="profile-name"><%= @user.nickname %> のマイページ</h1>
      </div>

      <div class="user-content">
        <div class="box-base">
          <div class="title-area">
            <h2>スキル</h2>
          </div>
          <div class="skil-text">
            <%= @user.skill %>
          </div>
        </div>
      </div>

      <%# <div class="myteam">
        <div class="myteam-title">
          <a id="myteam_title">
            <h2>マイプロジェクト参加者一覧</h2>
          </a>
        </div>
        <% @project.each do |project| %>
          <%# <div class="myteam-list">
            <div class="myteam-box">
              <div class="myteam-name">
                <%= project.name %>
              <%# </div>
              <div class="participant-user">
                <ul>
                  <%# <% @list.each do |l| %>
                    <%# <li>
                      <div class="index-user-name">
                        <%# <%= link_to l.nickname, class: "participant-user-name"　%>
                      <%# </div> %>
                      <%# <button type="button" , class="approval-btn1">承認する</button>
                      <button type="button" , class="approval-btn2">拒否する</button>
                    </li>
                  <%# end %>
                <%# </ul>
              </div>
            </div>
          </div>
        <% end %>
      <%# </div> %>

      <%# <div class="entry-project">
        <div class="entry-title">
          <a id="entry_title">
            <h2>参加プロジェクト一覧</h2>
          </a>
        </div>
      </div> %>

      <div class="page-bottom"></div>
    </main>
  </div>

  <%= render 'shared/footer' %>
</body>
