
  <div class="post">
    <div class="index-post-header">
      <h2><%= project.name %></h2>
      <div class="user-name">
        <%# <%= link_to @project.users.nickname %>
      </div>
    </div>
    <%# <div class="post-tags">
      <div class="post-tag">
        <a href="#">タグ１</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ２</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ３</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ４</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ５</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ６</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ７</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ８</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ９</a>
      </div>
      <div class="post-tag">
        <a href="#">タグ１０</a>
      </div>
    </div> %>
    <div class="post-info">
      <h3>&lt;プロジェクト内容&gt;</h3>
      <p class = post-info-content>
        <%= project.content %>
      </p>
    </div>

    <div class="created-at">
      <p><%= project.project_lim %></p>
    </div>

    <div class="more">
      <%= link_to '詳細を見る', project_path(project.id) %>
    </div>
  </div>
