<%= render 'shared/header' %>

<div class="projects-index-main">
  <div class="side-bar">
    <div class="side-contents">
      <div class="side-search-box">
        <label for=""></label>
        <input class="side-input" type="text" placeholder="キーワード">
        <input type="submit", value="検索" class="side-submit">
      </div>

      <nav class="left-menu-main">
        <ul class="user-main-left">
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "mypage-menu-item" %></li>
          <% else %>
            <li><%= link_to "トップページ", root_path, class: "mypage-menu-item"  %></li>
          <% end %>
          <li><%= link_to "参加プロジェクト一覧", class: "mypage-menu-item" %></li>
          <li><%= link_to "マイプロジェクト参加者一覧", class: "mypage-menu-item" %></li>
      <%# <%# <div class="side-nav"> %>
        <%# <a href="#">nav３</a> %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-container">
    <div class="main-title">
      <h1 class="info-heading">お知らせ</h1>
    </div>

    <div class="info">
      <p>インフォメーションが入ります</p>
    </div>

    <div class="posts-heading-wrapper">
      <div class="main-title">
        <h1>投稿一覧</h1>
      </div>

      <% if user_signed_in? %>
        <div class="post-new">
          <%= link_to "新規投稿作成", new_project_path %>
        </div>
      <% end %>
    </div>

    <div class="posts">

      <%= render partial: "post", collection: @project, as: "project" %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>