<%= render 'shared/header' %>

<div class="projects-index-main">
  <div class="side-bar">
    <div class="side-contents">
      <nav class="left-menu-main">
        <ul class="user-main-left">
          <% if user_signed_in? %>
            <li><%= link_to "トップページ", root_path, class: "mypage-menu-item"  %></li>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "mypage-menu-item" %></li>
            <li><%= link_to "参加プロジェクト一覧", projectsList_projects_path, class: "mypage-menu-item" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-container">

    <div class="posts-heading-wrapper">
      <div class="main-title">
        <h1>マイプロジェクト参加者一覧</h1>
      </div>
    </div>

    <div class="posts1">
      <% @project.each do |project| %>
      <div class="myteam-lists">
        <div class="myteam-box">
          <div class="myteam-name1">
            <%= project.name %>
          </div>
          <div class="participant-user">
            <ul>
              <% @userList.each do |lists| %>
                <% lists.each do |list| %>
                  <% if project.id == list.project_id %>
                    <li>
                      <div class="index-user-name">
                        <%= link_to list.user.nickname, user_path(list.user_id), class: "participant-user-name" %>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
              <% @userRequest.each do |requests| %>
                <% requests.each do |request| %>
                  <% if project.id == request.project_id %>
                    <li>
                      <div class = "index-user-name" >
                        <%= link_to request.user.nickname, user_path(request.user_id), class: "participant-user-name" %>
                      </div>
                      <% if user_signed_in? && project.user_id == current_user.id %>
                        <button type="button" , class="approval-btn1">
                          <%= link_to "承認する", project_join_lists_path(project, user_id: request.user_id, join_request_id: request.id), method: :post %>
                        </button>
                        <button type="button" , class="approval-btn2">
                          <%= link_to "拒否する", project_join_request_path(project, request), method: :delete %>
                        </button>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>