<%= render 'shared/header' %>

<div class="projects-index-main">
  <div class="side-bar">
    <div class="side-contents">
      <nav class="left-menu-main">
        <ul class="user-main-left">
          <% if user_signed_in? %>
            <li><%= link_to "トップページ", root_path, class: "mypage-menu-item"  %></li>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "mypage-menu-item" %></li>
            <li><%= link_to "マイプロジェクト参加者一覧", projectsRequest_projects_path, class: "mypage-menu-item" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-container">

    <div class="posts-heading-wrapper">
      <div class="main-title">
        <h1>参加プロジェクト一覧</h1>
      </div>
    </div>

    <div class="posts">

      <%= render partial: "participatingProject" %>

    </div>
  </div>
</div>
