<%= render 'shared/header' %>

<div class="post-area">
  <div class="post-info-area">
    <div class="post-header">
      <div class="post-img-area">
        <img src="" class="post-img">
      </div>
      <div class="post-title-area">
        <h2 class="post-title">プロジェクト名</h2>
      </div>
    </div>
    <div class="post-main">
      <div class="post-content-area">
        <table class="post-table">
          <tbody>
            <tr>
              <th class="post-table-title">プロジェクト名</th>
              <td class="post-table-data"><%= @project.name %></td>
            </tr>
            <tr>
              <th class="post-table-title">プロジェクト紹介</th>
              <td class="post-table-data">紹介文が入ります</td>
            </tr>
            <tr>
              <th class="post-table-title">プロジェクト内容</th>
              <td class="post-table-data">
                <%= @project.content %>
              </td>
            </tr>
            <tr>
              <th class="post-table-title">チーム締め切り日時</th>
              <td class="post-table-data"><%= @project.project_lim %></td>
            </tr>
            <tr>
              <th class="post-table-title">人数</th>
              <td class="post-table-data"><%= @project.member_lim %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="post-comment-area">
        <div class="post-comment-header">
          <p class="post-comment">コメント</p>
        </div>
        <div class="post-comment-main-area">
          <form>      
            <input name="name" type="text" class="comment-input" placeholder="お名前" />   
            <textarea name="text" class="comment-input" placeholder="質問・問い合わせなど"></textarea>
            <div class="submit-area">
            <input type="submit" value="コメントする" class="comment-btn"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="post-footer">
      <div class="post-footer-btn-area">
        <% if user_signed_in? && @project.already_listed?(current_user) %>
          <%= link_to '退会する', project_join_list_path(@project.id, @join_list), method: :delete, class: "footer-btn01" %>
        <% elsif user_signed_in? %>
          <% if @project.already_requested?(current_user) %>
            <%= link_to '申請取消', project_join_request_path(@project.id, @join_request), method: :delete, class: "footer-btn01" %>
          <% else %>
            <%= link_to '参加申請', project_join_requests_path(@project), method: :post, class: "footer-btn02" %>
          <% end %>
        <% end %>
        <% if @project.user_id == current_user.id %>
          <%= link_to "編集", edit_project_path(@project.id), method: :get, class: "footer-btn03" %>
          <%= link_to "削除", project_path(@project.id), method: :delete, class: "footer-btn04" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>